<div class='container'>

About Us:

As Zen Drop creators we aim to provide an entirely new level of customer satisfaction to the medical marijuana community. Since becoming patients we talked too many of our fellows who drove obnoxious distances to get to their medicine which they have steadily been paying more and more for. We want to remove the headache associated with taking care of your health, and make it easily affordable by providing world class marijuana, edibles, infused oils, and other products for the lowest prices in Seattle. If that wasn’t good enough already, we will also deliver your medicine right to your door! For a low monthly donation you gain access to the best medicine, at the best prices, so when your medicine arrives it truly is a Zen moment.

</div>
