<div id='about-us-splash'>
  <%= render 'layouts/header_user' %>
  <h2 id='about-us-header'>About Us</h2>
</div>

<div class='container' style='color: #555056'>
  <div class='col-sm-8 col-sm-offset-2' style='padding-top: 10px;'>
    <div style='height: 300px;'>
      <h3>Our Story</h3>

      <p>Who are we? We are a creative team that aim to provide an entirely new level of customer satisfaction to the medical marijuana community.</p>

      <p>Since becoming patients we talked too many of our fellows who drove obnoxious distances to get to their medicine which they have steadily been paying more and more for.</p>

      <p>We want to remove the headache associated with taking care of your health, and make it easily affordable by providing world class marijuana, edibles, infused oils, and other products for the lowest prices in Seattle.</p>

      <p>We work hard everyday so when your medicine arrives, it truly is a Zen moment.</p>
    </div>
  </div>
</div>





