<div id='faq-bird-splash'>
  <h2 id='faq-header'>Frequently Asked Questions</h2>
</div>

<div class='container' style='color: #555056'>
  <div class='col-sm-8 col-sm-offset-2' style='padding-top: 20px;'>
    <h2>FAQ</h2>

    <p style='border-bottom: 1px solid #e7e7e7; margin-bottom: 20px;'>Zendrop is a Medical Marijuana delivery service for patients who are living in the Greater Seattle Area.</p>

    <p class='faq-question'>Can I sign up for Zen Drop if I am not a Washington State Medical Marijuana patient?</p>
    <p class='faq-answer'>No, we’re sorry but we are strictly for the benefit of medical patients in the state only. We do not serve recreational users. </p>

    <p class='faq-question'>What is the monthly donation amount to be apart of Zen Drop deliveries?</p>
    <p class='faq-answer'>It is $30 a month right now, but we are working on developing a tiered donation system with different services at different prices based on demand. Tell us what you might like to see.</p>

    <p class='faq-question'>Do you deliver outside of Seattle?</p>
    <p class='faq-answer'>Nope sorry, click here to see a map of our delivery zone. Keep checking the site as our territory expands based on demand. </p>

    <p class='faq-question'>When do I have to finalize my order for the next delivery?</p>
    <p class='faq-answer'>We require at least a 48 hour notice to completely fulfill your orders, please give us the extra time to pack your boxes with goodies. </p>

    <p class='faq-question'>Is there a minimum order size?</p>
    <p class='faq-answer'>Not at all, as long as you are a Zen Drop member your delivery can be a little or as big as you want, and with no extra fees! </p>

    <p class='faq-question'>How does scheduling an order work?</p>
    <p class='faq-answer'>It’s easy, just pick your medicines and then choose a time slot for the delivery date. As long as you are home we will deliver to you within that window guaranteed.</p>

    <p class='faq-question'>Is this legal?</p>
    <p class='faq-answer'>Yes, contrary to recreational law medical marijuana delivery is completely legal to give you safe access to your medicine without having to travel (and we make it easy to save money too)</p>

    <p class='faq-question'>How can I pay for my delivery? </p>
    <p class='faq-answer'>You can pay cash or card, credit/debit charges will show on your statement as Zen Dr.</p>
  </div>
</div>























