<div style='text-align:center; margin-top:100px; position: relative;'>
  <h2 style='margin-bottom: 40px;'>We are weeks away from launching!</h2>
  <img src='/assets/winter-is-coming.jpg'></img>
  <p style='margin-top:100px;'>If you are interested in becoming a vendor please click the button below</p>
  <li style='list-style:none; margin-bottom: 30px;'><%= link_to 'Become a Vendor', partners_path, class: 'btn btn-started' %></li>
</div>

