<%= form_for [@order, @order_item] do |f| %>

  <div class="field col-lg-8">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, :class => "form-control" %>
  </div>
  <div>
    <%= f.submit "Add to Cart", :class => 'btn btn-primary' %>
  </div>

<% end %>


