.sign-up .navbar-brand {
  color: #ffffff;
}

.sign-in .navbar-brand {
  color: #ffffff;
}

#about-us-splash .navbar-brand {
  color: #ffffff;
}

.verify .navbar-brand {
  color: #ffffff;
}

.check-out .navbar-brand {
  color: #ffffff;
}

.sign-up .navbar-brand:hover {
  color: #ffffff;
}

.sign-in .navbar-brand:hover {
  color: #ffffff;
}

.verify .navbar-brand:hover {
  color: #ffffff;
}

.check-out .navbar-brand:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav.landing-right-header > li > a {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  padding-right: 25px;
  letter-spacing: 0.1em;
}

.navbar-default .navbar-nav.user-right-header > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding-right: 25px;
  letter-spacing: 0.1em;
}

#landing-welcome > div > .col-sm-6.col-sm-offset-3 {
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
}

#landing > div > div.navbar-header > a > h3 {
  margin: 0px;
  padding-top: 10px;
}

.btn-started {
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  background-color: #45b052;
  color: #ffffff;
  font-weight: bold;
}

.navbar-default .navbar-nav.landing-right-header > li > .btn-started {
   padding: 8px 16px 7px;
   margin-top: 4px;
   color: #ffffff;
   font-weight: bold;
}

.navbar-default .navbar-nav.user-right-header > li > .btn-started {
   padding: 8px 16px 7px;
   margin-top: 4px;
   color: #ffffff;
   font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > .btn-started:hover, .navbar-default .navbar-nav > li > .btn-started:focus {
  background-color: #45b052;
}

.btn-started:hover {
  color: #ffffff;
}
