#menu .thumbnail {
  padding: 0px;
  height: 495px;
  border: none;
  color: #808080;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  margin: 0px 4px 20px 4px;
  border: none;
}

.products.index {
  background-color: #e7e7e7;
}

#menu .thc-content-block {
  color: #000000;
  text-align: center;
  font-weight: 300;
  height: 75px;
  width: 30%;
  float: right;
  margin-top: -85px;
  margin-right: 3%;
  border-radius: 2px;
  background-color: rgba(225, 225, 225, 0.7);
  z-index: 900;
  position: relative;
}

#menu .thc-content-header {
  font-size: 16px;
}

#menu {
  padding-top: 100px;
}

#menu a {
  color: #808080;
  text-decoration: none;
}

#product {
  background-color: white;
  padding: 0% 7% 0% 7%;
  border-color: transparent;
  margin-bottom: 0px;
  height: 70px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1)
}

#menu .thc-content-number {
  float: left;
  padding-left: 5px;
  font-size: 24px;
  padding-right: 5px;
  padding-top: 7px;
}

.products output {
  padding: 0px;
  font-size: 18px;
}

input {
  outline-color: transparent !important;
}

.addtocart-header {
  height: 30px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  font-size: 18px;
}

.addtocart-body {
  height: 60px;
  margin-bottom: 20px;
}

.addtocart-body .form-control {
  font-size: 16px;
  border: 1px solid #404040;
  height: 40px;
}

.form-control:focus {
  box-shadow: none !important;
}

.well {
  border-color: #404040;
  background-color: transparent;
}

option:focus {
  outline-color: transparent;
}
