.sign-in {
  height: 900px;
  background: url(/assets/sign-in-door.jpg) no-repeat center center;
  background-size: cover;
}

.sign-up {
  height: 900px;
  background: url(/assets/sign-in-door.jpg) no-repeat center center;
  background-size: cover;
}

.sign-in .form-group {
  background: rgba(240, 240, 240, 0.8);
  height: 255px;
}

.sign-up .form-group {
  background: rgba(240, 240, 240, 0.8);
  height: 310px;
}

.verify .form-group {
  background: rgba(240, 240, 240, 1);
  height: 520px;
}

.check-out .form-group {
  background: rgba(240, 240, 240, 0.8);
  height: 305px;
}


.sign-in input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
}

.verify input[type="submit"] {
  background: #45b052;
  color: #ffffff;
  padding: 1.25em 3em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
}

.check-out input[type="submit"] {
  background: #45b052;
  color: #ffffff;
  padding: 1.25em 3em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
}

.sign-in input[type="submit"] {
  background: #45b052;
  color: #ffffff;
  padding: 1.25em 3em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
}

.sign-up input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  width: 100%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
}

.verify input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  width: 100%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
}

.check-out input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  width: 100%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
}

.sign-up input[type="submit"] {
  background: #45b052;
  color: #ffffff;
  padding: 1.25em 3em;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
}

.sign-in #forgot-pw {
  text-decoration: underline;
  font-size: 12px;
  color: #404040;
  float: left;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  margin: 10px 0px 10px 0px;
}

.verify {
  background: url(/assets/verify-lake.jpg) no-repeat center center;
  background: cover;
  height: 900px;
}

.check-out {
  background: url(/assets/verify-lake.jpg) no-repeat center center;
  background: cover;
  height: 900px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.uploadFile {
  width: 70%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
  background-color: #e2e2e2;
}

.fileUpload input {
  position: absolute;
  opacity: 0;
  top: 0;
  padding: 17px 4%;
  left: 0;
}

.fileUpload.btn.btn-primary {
  background: #E7A130;
  color: #ffffff;
  padding: 17px 4%;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  border-radius: 4px;
  float: right;
}

#card_month, #card_year {
  width: 100%;
  border-radius: 4px;
  padding: 16px 4%;
  margin-bottom: 20px;
  height: 51px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .15em;
  border-color: transparent;
}


