<nav>
  <div class="navbar navbar-default navbar-fixed-top" id='product'>
    <div class="row navbar-row" style='padding-top: 1%'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style='padding-top: 5px;'>
          <h3 style='margin-top:10px;'>ZENDROP | MENU</h3>
        </a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right landing-right-header">
          <li><%= link_to 'ABOUT', about_path %></li>
          <li><a href="mailto:info@zendrop.co">CONTACT</a></li>
          <% if current_user.present? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-started' %></li>
          <% else %>
          <li><%= link_to 'Sign In', new_user_session_path, class: 'btn btn-started' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
