<h1 style='text-align:center; margin-bottom: 20px;'>Menu</h1>
<div class='container' id='menu'>
  <div class='row'>
    <%= render partial: 'menu' %>
  </div>
</div>

<script>

$container = $('#top-picks');
// initialize isotope
$container.isotope({
  itemSelector: '.box',
  masonry: {
    columnWidth: $container.width() / 12
  }
});
</script>
