<%= render 'products/header' %>
<div class='container' id='menu'>
  <div class='row'>
    <%= render partial: 'menu' %>
  </div>
</div>

<script>

$container = $('#top-picks');
// initialize isotope
$container.isotope({
  itemSelector: '.box',
  masonry: {
    columnWidth: $container.width() / 12
  }
});
</script>
