<footer>
  <div class="container group">
    <div class="footer-links group">
      <div>
        <h3>ZenDrop</h3>
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    <div>
    <h3>Vendors</h3>
      <ul>
        <li><a href="#">Become a Partner</a></li>
        <li><a href="#">Vendors 101</a></li>
        <li><a href="#">Partner Agreement</a></li>
      </ul>
    </div>
    <div>
      <h3>Social</h3>
        <ul>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
          <li><a href="#" target="_blank">Pinterest</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
        </ul>
    </div>
      <div>
        <h3>Information</h3>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="mailto:info@zendrop.co">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">© 2014 ZenDrop Inc. All rights reserved</div>
  </div>
</footer>
